@charset "utf-8";

/* #section .article1 {
} */

#section .slide {
    height: 650px;
    background-size: cover;
    background-position: center;
    display: none; /* js 넣으면 삭제해야함 */
    position: relative;
}

#section .slide1 {
    background-image: url(/img/main_img1.jpg);
    display: block; /* js 넣으면 삭제해야함 */
}

#section .slide2 {
    background-image: url(/img/main_img2.jpg);
}

#section .slide3 {
    background-image: url(/img/main_img3.jpg);
}

#section .article1 .slide .slide_text {
    position: absolute; /* 부모(#section .slide)에 position:relative */
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    text-align: center;
    width: 100%;
}

#section .article1 .slide .slide_text h2 {
    font-size: 42px;
    font-weight: 800;
}

#section .article1 .slide .slide_text p {
    font-size: 16px;
    line-height: 24px;
    margin: 30px 0;
}

#section .article1 .slide .slide_text a {
    display: inline-block; /* padding 적용하기 위해 block 성격을 넣어줘야함 */
    padding: 10px 35px; /* width, height 를 사용하지 않는다 */
    border: 1px solid #fff;
    font-size: 15px;
    transition: all .3s ease-in-out;
}

#section .article1 .slide .slide_text a:hover {
    background: rgba(255, 255, 255, .3);
}

/* section - article2 */
#section h2 {
    color: #000;
    font-size: 36px;
    line-height: 42px;
    font-weight: 700;
    padding: 80px 0 10px;
    text-align: center;
}

.article2 > p , .article4 > p {
    padding-bottom: 40px;
    text-align: center;
    line-height: 1.5em;
}

.article2 ul {
    display: flex;
}

.article2 li {
    height: 520px;
    width: 24%; /* 사이에 여백있기 때문에 25% 쓰면 안됨 */
    margin-right: 1.3333%; /* 100-(24*4) = 4/3 = 1.3333 */
    background-size: cover;
    background-position: center;
    position: relative;
}

.article2 li::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
    opacity: 0;
    transition: all .4s ease-in-out;
}

.article2 li:hover::before {
    opacity: 1;
}

.article2 li:nth-child(1) {
    background-image: url(/img/what1.jpg);
}

.article2 li:nth-child(2) {
    background-image: url(/img/what2.jpg);
}

.article2 li:nth-child(3) {
    background-image: url(/img/what3.jpg);
}

.article2 li:nth-child(4) {
    margin-right: 0%;
    background-image: url(/img/what4.jpg);
}